{% extends "base.html.j2" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1>Добрый день!</h1>
    <p>Как насчет <a href={{ url_for('get_data') }}>датасетов</a>?</p>
    <p>Или, может, <a href={{ url_for('get_models') }}>моделей</a>?</p>
    <p>На этом все.</p>
{% endblock %}
