{% extends "base.html.j2" %}

{% block title %} {{ model.name }} {% endblock %}

{% block content %}
<h1>{{ model.name }}</h1>

    <h3>Информация о модели и ее гиперпараметрах:</h3>

    <div>{{ model.description.to_html(index=False) | safe }}</div>
    <br>
    <div>
    {% if model.is_fitted %}
      <h3>
      ИтЕрАтИвНыЙ график ошибок
      </h3>
      <img src={{ url_for('plot_png', name=model.name) }} alt='alt: гРаФиК нЕ пОдГрУжАеТсЯ'
                   width=50%>
      <p>Модель успешно обучилась! Теперь можно прогнозировать.<br/>
      <small><i>Можно <a href={{ url_for('get_data') }}>загрузить</a> почти наверное много
      тестовых выборок.</i></small>
      </p>
      <form method='POST' action={{ url_for('model_page', name=model.name) }}>
        <div class='field'>
            {{ test_form.test_data.label }}
            {{ test_form.test_data() }}
        </div>
        <input type="submit" value="Предсказать">
      </form>
    {% else %}
        <p>Пока что модель не обучена.
        Почему бы не сделать это прямо сейчас?<br/>
        <small><i>Если список датасетов пуст или маловат, то их
        необходимо сначала <a href={{ url_for('get_data') }}>загрузить</a>.</i></small></p>

        <form method='POST' action={{ url_for('model_page', name=model.name) }}>
        <div class='field'>
            {{ learn_form.train_data.label }}
            {{ learn_form.train_data() }}
        </div>
        <div class='field'>
            {{ learn_form.val_data.label }}
            {{ learn_form.val_data() }}
        </div>
        <input type="submit" value="Обучить модель">
      </form>

    {% endif %}
    </div>

<br>
<a href="{{ url_for('get_models') }}"><button>Назад</button></a>
{% endblock %}
