{% extends "base.html.j2" %}

{% block title %} {{ model.name }} {% endblock %}

{% block content %}
<h1>Хмм, страница модели {{ model.name }}</h1>

    <p>Что тут у нас известно о модели?! А вот что:</p>
    <div>{{ model.description.to_html(index=False) | safe }}</div>

    <div>
    {% if model.is_fitted %}
      <img src={{ url_for('plot_png', name=model.name) }} alt='alt: гРаФиК нЕ пОдГрУжАеТсЯ'
                   width=50%>
      <p>Поздравляем с обучением модели! Теперь можно предсказывать.</p>
      <form method='POST' action={{ url_for('model_page', name=model.name) }}>
        <div class='field'>
            {{ test_form.test_data.label }}
            {{ test_form.test_data() }}
        </div>
        <input type="submit" value="Предсказать">
      </form>
    {% else %}
        <p>Пока что модель не обучена. Почему бы не сделать это?</p>
        <form method='POST' action={{ url_for('model_page', name=model.name) }}>
        <div class='field'>
            {{ learn_form.train_data.label }}
            {{ learn_form.train_data() }}
        </div>
        <div class='field'>
            {{ learn_form.val_data.label }}
            {{ learn_form.val_data() }}
        </div>
        <input type="submit" value="Обучить модель">
      </form>

    {% endif %}
    </div>

    <div> {{ model.model.__dict__ }} </div>
  
  <a href="{{ url_for('get_models') }}"><button>верните меня обратно</button></a>
{% endblock %}
