{% extends "base.html" %}

{% block title %}Настройка модели{% endblock %}

{% block content %}

Гиперпараметры:

<form method='POST' action={{ url_for('get_models') }}>
        {{ form.csrf_token }}
        <div class='field'>
            {{ form.name.label }}
            {{ form.name(size=20) }}
        </div>
        <div class='field'>
            {{ form.model_type.label }}
            {{ form.model_type() }}
        </div>
    {{ form.submit() }}
</form>

Датасет:

  <a href="{{ url_for('get_models') }}"><button>верните меня обратно</button></a>
{% endblock %}
